[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.0"
flask-restx = "~=0.5"
flask-sqlalchemy = "~=2.5"

[dev-packages]

[requires]
python_version = "3.9"
